.wrap-main {
  width:1200px;
  margin:0 auto;
}

.pointer {
  cursor:pointer;
}

/*
.page-enter-active, .page-leave-active {
  transition: opacity 2s;
}
.page-enter, .page-leave-active {
  opacity: 0;
}

*/